body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff;
}

nav {
  background-color: #000;
  color: aliceblue;
  overflow: hidden;
  padding-right: 5%;
  height: 10vh;
}

nav > ul {
  list-style-type: none;
  float: right;
}

.nav-item {
  display: inline-block;
  padding: 0rem 5rem;
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;

  scale: 1;

  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s linear; /* opera */
  -ms-transition: all 0.1s linear; /* IE 10 */
  -moz-transition: all 0.1s linear; /* Firefox */
}

.nav-item > a {
  color: aliceblue;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2em;
  margin: -2em;
}

.nav-item:hover {
  color: #ccc;
  transform: scale(1.1);

  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s linear; /* opera */
  -ms-transition: all 0.1s linear; /* IE 10 */
  -moz-transition: all 0.1s linear; /* Firefox */
}

/* Hero */

.hero {
  height: 65vh;
}

.spaced-letters {
  letter-spacing: 0.1em;
}

.hero-left {
  margin-left: 10%;
}

.hero-greeting {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 2rem;
  margin-top: 15%;
  margin-bottom: 1.5em;
}

.hero-name {
  font-size: 4.5rem;
  font-weight: lighter;
  margin-top: 0em;
  margin-bottom: 0em;
}

.hero-i-am {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 1.5em;
}

.hero-button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 1.5em 2em;
  margin-top: 2em;
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.mask {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.andrew-barrett .mask {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

/* Animation the stroke-dashoffset to a zero length */
@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

:root {
  --letter-duration: 1s;
}

/* Apply the animation to each mask */
#mask-A {
  animation: strokeOffset var(--letter-duration) linear forwards;
}

#mask-n1 {
  animation: strokeOffset var(--letter-duration) linear forwards 0.25s;
}

#mask-n2 {
  animation: strokeOffset var(--letter-duration) linear forwards 0.3s;
}

#mask-d {
  animation: strokeOffset var(--letter-duration) linear forwards 0.4s;
}

#mask-r {
  animation: strokeOffset var(--letter-duration) linear forwards 0.6s;
}

#mask-e1 {
  animation: strokeOffset var(--letter-duration) linear forwards 0.7s;
}
#mask-w {
  animation: strokeOffset var(--letter-duration) linear forwards 0.8s;
}
#mask-b {
  animation: strokeOffset var(--letter-duration) linear forwards 1s;
}
#mask-a-2 {
  animation: strokeOffset var(--letter-duration) linear forwards 1.4s;
}

#mask-barrett-r-1 {
  animation: strokeOffset var(--letter-duration) linear forwards 1.6s;
}
#mask-barrett-r-2 {
  animation: strokeOffset var(--letter-duration) linear forwards 1.75s;
}
#mask-e-2 {
  animation: strokeOffset var(--letter-duration) linear forwards 1.9s;
}
#mask-barrett-t {
  animation: strokeOffset var(--letter-duration) linear forwards 2s;
}
#mask-barrett-t-line-v {
  animation: strokeOffset var(--letter-duration) linear forwards 2.2s;
}

/* Sections */
.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: lighter;
}

.section-container {
  padding: 1em 10% 0em 10%;
}

/* Bio */

.bio {
  background-color: hsla(0, 0%, 100%, 0.377);
  height: 800px;
}

/* Experience */

.experience {
  background-color: hsla(0, 0%, 100%, 0.041);
  height: 800px;
}

.experience table {
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
}

.job-name {
  text-transform: capitalize;
  margin-left: 1em;
}

.job-date {
  vertical-align: top;
  font-weight: lighter;
}

.job-desc-list {
  list-style: none;
  font-size: 1.2em;
}

li * {
  display: inline;
}

li > p {
  line-height: 1.75em;
}

.experience ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #fefefe; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1.3em; /* Also needed for space (tweak if needed) */
}
