/* Hero */
:root {
  --hero-height: 100vh;
}
.hero-container {
  background-image: url("https://abarrett-io.nyc3.cdn.digitaloceanspaces.com/hero/Andrew%20Barrett%20Color%201080p.jpg");
  width: 100vw; /* Use appropriate dimensions */
  height: var(--hero-height);
  /* Use appropriate dimensions */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  z-index: 1;
}

.signature-container {
  height: 15vh;
  width: auto;
  margin-bottom: 4vh;
}

.site-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.hero-left {
  margin-left: 10%;
}

.hero-button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 1.5em 2em;
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.hero-button:link {
  text-decoration: none;
}

.hero-button:visited {
  text-decoration: none;
}

.hero-button:hover {
  text-decoration: none;
}

.hero-button:active {
  text-decoration: none;
}

.mask {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.andrew-barrett .mask {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.andrew-barrett {
  height: 100%;
  display: block;
}

/* Animation the stroke-dashoffset to a zero length */
@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

:root {
  --letter-duration: 1s;
  --delay: 0s;
}

/* Apply the animation to each mask */
#mask-A {
  animation: strokeOffset var(--letter-duration) linear forwards var(--delay);
}

#mask-n1 {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 0.25s);
}

#mask-n2 {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) +0.3s);
}

#mask-d {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 0.4s);
}

#mask-r {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 0.6s);
}

#mask-e1 {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 0.7s);
}
#mask-w {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 0.8s);
}
#mask-b {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 1s);
}
#mask-a-2 {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 1.4s);
}

#mask-barrett-r-1 {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 1.6s);
}
#mask-barrett-r-2 {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 1.75s);
}
#mask-e-2 {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 1.9s);
}
#mask-barrett-t {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 2s);
}
#mask-barrett-t-line-v {
  animation: strokeOffset var(--letter-duration) linear forwards
    calc(var(--delay) + 2.2s);
}

@keyframes yTranslateAnimate {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hello-title {
  letter-spacing: 0.05rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.descend {
  transform: translateY(-25px);
  animation: yTranslateAnimate 1s forwards 2.3s;
  opacity: 0;
}

.ascend {
  transform: translateY(25px);
  animation: yTranslateAnimate 1s forwards 2.3s;
  opacity: 0;
}
