.languages {
  background-color: hsla(0, 0%, 100%, 0.041);
  height: 800px;
}

.grid-container {
  display: grid;
  gap: 100px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #2196f3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  max-height: 10vh;
}

.lang-img {
  color: gray;
  object-fit: contain;
  max-width: 15vw;
  max-height: 100%;
}

.lang-title {
  display: inline;
  margin: auto;
  color: black;
}
